---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";
import "@fontsource/geist";
import "@fontsource/geist/600";
import "@fontsource/bitcount-grid-single";
import "@fontsource/geist-mono";

const navigationLinks = [
  ["Das Projekt", "/sweep-web/projekt"],
  ["Über uns", "/sweep-web/ueber-uns"],
  ["Dokumentation", "/sweep-web/dokumentation"],
  ["FAQ", "/sweep-web/faq"],
  ["Über Jugend forscht", "/sweep-web/ueber-jugend"],
  ["Jugend forscht am AvH", "/sweep-web/jugend-avh"],
  ["Unterstützung", "/sweep-web/unterstuetzung"],
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SWEEP - Jugend forscht</title>
  </head>
  <body>
    <Header navigationLinks={navigationLinks} />
    <section class="min-h-screen px-4">
      <h1
        class="font-bit text-4xl md:text-6xl uppercase mb-6 md:mb-8 text-center mt-32 md:mt-36"
      >
        Erfolge und Auszeichnungen
      </h1>
      <p class="text-center max-w-3xl mx-auto">
        Ein Überblick über unsere Fortschritte, Meilensteine und Erfolge auf dem
        Weg zur Entwicklung von S.W.E.E.P.
      </p>

      <!-- -->
    </section>
  </body>
  <Footer />
</html>
