---
import "../styles/global.css";
import "@fontsource/geist";
import "@fontsource/geist/600";
import "@fontsource/bitcount-grid-single";
import "@fontsource/geist-mono";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import CardInline from "../components/CardInline.astro";

import { Image } from "astro:assets";

import jugendforschtsticker from "../assets/jugendforschtsticker.jpeg";
import neuhausen from "../assets/neuhausen.jpeg";
import avhfoerder from "../assets/avhfoerder.jpeg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SWEEP - Unterstützung</title>
  </head>
  <body>
    <Header />
    <section>
      <h1
        class="font-bit text-4xl md:text-6xl uppercase mb-8 text-center mt-32 md:mt-36"
      >
        Unterstützung
      </h1>
      <p class="text-center mx-4 md:mx-24 text-base md:text-lg mb-8">
        Ohne Förderer wäre S.W.E.E.P. nicht möglich — Dank an alle, die das
        Projekt tragen.
      </p>

      <div class="mx-4 md:mx-24 mt-10 grid grid-cols-1 md:grid-cols-2 gap-6">
        <Card heading="Finanzierung">
          <p class="font-semibold mb-3">Unsere Förderer:</p>
          <ul class="list-disc pl-5 space-y-2">
            <li>
              Jugend forscht Sponsorenpool – zentraler Förderer unseres Projekts
            </li>
            <li>
              Förderverein des Alexander-von-Humboldt-Gymnasiums Neuss –
              zusätzliche finanzielle Unterstützung und organisatorische Hilfe
            </li>
            <li>
              Ingenieurbüro Neuenhausen – Unterstützung beim Bau der
              mechanischen Struktur
            </li>
          </ul>
        </Card>
        <Card heading="Erhaltene Fördermittel">
          <ul class="list-disc pl-5 space-y-2 mb-4">
            <li>4.072 € aus dem Jugend forscht Sponsorenpool</li>
            <li>
              500 € vom Förderverein des Alexander-von-Humboldt-Gymnasiums Neuss
            </li>
            <li>300 € vom Ingenieurbüro Neuenhausen</li>
          </ul>
          <p>
            Diese Mittel bildeten die Grundlage für die Entwicklung unseres
            Prototyps und ermöglichten die Beschaffung zentraler Komponenten wie
            Mini-Computer, Motoren, Sensorik, Elektronik sowie Materialien für
            den 3D-Druck und das Aluminiumgestell.
          </p>
        </Card>
      </div>

      <div
        class="my-8 px-4 md:px-24 border-dotted border-t-2 border-b-2 py-8 flex flex-col gap-6 md:gap-8"
      >
        <CardInline heading="Weitere Unterstützungsformen">
          Fusion Bildungslizenz und Softwarezugänge wurden kostenfrei für
          Schülerinnen und Schüler bereitgestellt, wodurch Software-Hürden
          reduziert wurden. Zusätzlich erhielten wir materielle Hilfe durch
          Werkzeuge, Werkstattzeiten, 3D-Druck-Kapazitäten und Mentoring durch
          Lehrkräfte.
        </CardInline>
        <CardInline heading="Wie Sie uns unterstützen können">
          Sponsoring (Sach- oder Geldmittel) für erweiterte Tests, Laborzugang,
          Prototypoptimierung oder Serienaufbauten. Fachliche Partnerschaften
          mit kommunalen Entsorgern, Umweltämtern oder Forschungsgruppen.
          Außerdem helfen Testfelder und Pilotprojekte durch die Bereitstellung
          geeigneter Grünflächen zur praktischen Erprobung unter Aufsicht.
        </CardInline>
      </div>

      <div class="mx-4 md:mx-24 my-12">
        <div class="">
          <h1 class="font-bit text-3xl md:text-4xl uppercase text-center mb-8">
            Mit großzügiger Unterstützung durch
          </h1>
          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-4 mb-8"
          >
            <a
              href="https://www.avhgneuss.de/"
              target="_blank"
              class="w-full aspect-[4/3] hover:opacity-60 transition-opacity"
            >
              <Image
                src={avhfoerder}
                alt=""
                class="w-full h-full object-contain"
              />
            </a>
            <a
              href="https://www.jugend-forscht-nrw.de/"
              target="_blank"
              class="w-full aspect-[4/3] hover:opacity-60 transition-opacity"
            >
              <Image
                src={jugendforschtsticker}
                alt=""
                class="w-full h-full object-contain"
              />
            </a>
            <a
              href="https://vermessung-neuenhausen.de/"
              target="_blank"
              class="w-full aspect-[4/3] hover:opacity-60 transition-opacity"
            >
              <Image
                src={neuhausen}
                alt=""
                class="w-full h-full object-contain"
              />
            </a>
          </div>
        </div>
        <Card heading="Danksagung & Transparenz">
          Wir danken ausdrücklich dem Sponsorenpool von Jugend forscht und dem
          Förderverein des AvH. Unser Projekt bleibt gemeinnützig und Open
          Source — jede Unterstützung wird transparent dokumentiert und fließt
          direkt in die Weiterentwicklung. Ein besonderer Dank gilt auch dem
          Ingenieurbüro Neuenhausen, das unser Projekt mit einer finanziellen
          Unterstützung in Höhe von 300 Euro gefördert hat. Mit diesem Beitrag
          konnten wir das benötigte Alugestell für unseren Roboter realisieren –
          eine zentrale Komponente für Stabilität, Modularität und
          Praxistauglichkeit unseres Systems
        </Card>
        <div class="mt-8">
          <Card heading="Kontakt">
            Wir freuen uns über Anfragen, Ideen und Kooperationsangebote.
            Kontaktieren Sie uns gerne über die E-Mail-Adresse <a
              class="underline"
              href="mailto:roland.jugendforscht@outlook.com"
              >roland.jugendforscht@outlook.com</a
            >.
          </Card>
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
