---
import { Image } from "astro:assets";
import sweepLogo from "../assets/sweep.svg";
import jugendforschtsticker from "../assets/jugendforschtsticker.jpeg";
---

<footer
  class="py-10 md:py-12 px-4 md:px-18 mt-12 w-full bg-black text-white flex flex-col gap-12 md:gap-24"
>
  <div class="w-fit">
    <a href="#hero"
      ><Image src={sweepLogo} alt="sweep" class="w-32 md:w-64 invert" /></a
    >
  </div>
  <div
    class="w-full flex flex-col md:flex-row items-baseline md:items-end justify-between gap-8"
  >
    <a href="https://www.jugend-forscht-nrw.de/" target="_blank">
      <Image
        src={jugendforschtsticker}
        alt="Jugend forscht"
        class="w-32 md:w-62 rounded-xl"
      />
    </a>
    <p class="text-sm md:text-base">© {new Date().getFullYear()} SWEEP</p>
    <div
      class="flex flex-col gap-2 text-left md:text-right items-start md:items-end font-mono"
    >
      <p>Logodesign von Lisa Moritz</p>
      <p class="flex flex-wrap gap-2 md:gap-3">
        Webdesign von <a
          href="https://github.com/qizzle"
          target="_blank"
          class="flex hover:underline gap-0.5"
          >Dimitri Bartsch<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="size-4"
          >
            <path
              fill-rule="evenodd"
              d="M4.22 11.78a.75.75 0 0 1 0-1.06L9.44 5.5H5.75a.75.75 0 0 1 0-1.5h5.5a.75.75 0 0 1 .75.75v5.5a.75.75 0 0 1-1.5 0V6.56l-5.22 5.22a.75.75 0 0 1-1.06 0Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <p class="text-sm md:text-base">
          <span class="font-bit text-lg">SWEEP</span> von Roland Jindra und Jonas
          Koch
        </p>
      </p>
    </div>
  </div>
</footer>
